.container {
    padding-left: 240px;
}

@media (max-width: 600px) {
    .container {
        padding-left: 0;
    }
}

.MuiContainer-root {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    width: calc(100% - 240px) !important;
    max-width: none !important;
}

.MuiDataGrid-root {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.action-buttons {
    display: flex;
    gap: 8px;
}

.action-buttons .view-button {
    color: #2196f3;
}

.action-buttons .edit-button {
    color: #4caf50;
}

.action-buttons .delete-button {
    color: #f44336;
}
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorSuccess.MuiIconButton-sizeSmall.css-rqujvj-MuiButtonBase-root-MuiIconButton-root {
    margin-right: 10px;
  }
